* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    background-color: #131313;
    color: white;
}

.container {
    width: 100%;
    height: 100%;
}

.side-bar h1 {
    font-size: 30px;
    color: #00F0FF;
    text-align: center;
}

.side-bar {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #1C1B1B;
    padding: 1rem;
    border-right: 1px solid #3B494B;
}

.project-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.projects .project {
    justify-content: space-between;
}

.projects .project img {
    width: 20px;
    height: 20px;
}

.project-btn {
    display: flex;
    gap: 15px;
}

.project {
    display: flex;
    align-items: center;
    padding-inline: 10px;
    padding-block: 12px;
    gap: 10px;
    cursor: pointer;
}

.project:hover {
    background-color: #00eeff3e;
    border-radius: 8px;
}

.project img {
    filter: invert(100%);
}

.project.selected {
    background-color: #00eeff3e;
    border-radius: 8px;
}

.project-title {
    display: flex;
    align-items: center;
    padding: 12px 10px;
    gap: 10px;
}

.project-title h2 {
    font-size: 1rem;
}

.project-title img {
    width: 24px;
    height: 24px;
    filter: invert(100%);
}

.projects-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.projects-form.visibility {
    display: none;
}

.input-form {
    border: none;
    outline: none;
    border-radius: 6px;
    width: 100%;
    padding: 6px;
}

.projects-form-btn {
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 8px;
}

.projects-form-btn button {
    width: 70px;
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
}

.new-btn {
    border: none;
    outline: none;
    background: #00F0FF;
    color: #00363A;
    padding: 13px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.new-btn.visibility {
    display: none;
}

.new-btn:hover {
    transform: scale(1.03);
}